$primary-color: #204379;
$secondary-color: #b57556;

@mixin text-style {
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.2em;
  text-align: center;
}

@mixin desktop {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin pad {
  @media (min-width: 768px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input,
input::placeholder {
  font-size: 16px;
  color: #bdbdbd;
}

input:focus {
  border: 0;
  outline: 3px solid #93bbf9;
}

input:not(:focus):not(:placeholder-shown):invalid {
  content: 'wrong format';
  border: none;
  outline: 3px solid #e06d6d;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

select {
  padding: 16px;

  font-size: 16px;

  appearance: none;

  background: url('/src/assets/icon/dropdown.svg') no-repeat;
  background-position: 97% 50%;
}

label {
  display: inline-block;
  height: 22px;
}

#app {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
}

.background {
  background-color: $primary-color;
  padding-bottom: 1px;

  background-image: url('/src/assets/icon/whitewaves.svg');
  background-size: 100%;
  background-position: 50% 50%;

  @include pad {
    background-image: url('/src/assets/icon/whitewaves768.svg');
    background-size: 100%;
    background-position: 50% 76%;
  }

  @include desktop() {
    background-image: url('/src/assets/icon/whitewaves1400.svg');
    background-size: 100%;
    background-position: 50% 65%;
  }

  .topic {
    @include text-style;
    margin: 0;

    color: white;

    .first {
      font-size: 32px;
      padding-top: 60px;
    }

    .second {
      font-size: 28px;
      margin-top: 4px;
      margin-bottom: 32px;
    }
  }
}

.waves {
  display: flex;
  margin-bottom: -1px;
  overflow: hidden;
}

.button {
  @include text-style;
  border: 0;
  padding: 0;
  margin: 0;
  color: white;

  box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  width: 200px;
  height: 57px;
  background-color: $secondary-color;
  border-radius: 50px;
  font-size: 18px;
  line-height: 3;
  letter-spacing: 0.4em;
  text-indent: 0.2em;
}

.paragraph-block {
  background-color: #d4e4f1;
  border: 2px solid $secondary-color;
  border-radius: 20px;
  margin: 32px 24px 44px 24px;
  color: $primary-color;
  @include desktop {
    margin: 32px 296px 44px 296px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
  }

  .bubbles {
    display: flex;
    justify-content: flex-end;
    position: relative;

    .small-bubble {
      position: absolute;
      right: 5px;
      bottom: 61px;

      @include pad {
        right: 55px;
      }

      @include desktop {
        right: 35px;
      }
    }

    .big-bubble {
      position: absolute;
      right: 13px;
      bottom: 33px;

      @include pad {
        right: 73px;
      }

      @include desktop {
        right: 55px;
      }
    }
  }

  .sup-oar {
    display: flex;
    justify-content: center;
    align-items: center;

    .uppersup {
      position: absolute;
      width: 80px;
      height: 64px;
      right: 10px;
      top: 240px;
      @include pad {
        right: 60px;
      }
      @include desktop {
        right: 320px;
      }
    }

    .oar {
      position: absolute;
      width: 62px;
      height: 45.75px;
      right: 10px;
      top: 250px;
      @include pad {
        right: 60px;
      }
      @include desktop {
        right: 320px;
      }
    }
  }

  .sup-firework {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .lowersup {
      position: absolute;
      left: 14px;
      bottom: -44px;
      z-index: 0;
      @include pad {
        left: 44px;
        bottom: -50px;
      }
      @include desktop {
        left: 44px;
        bottom: -50px;
      }
    }

    .firework {
      position: absolute;
      width: 58px;
      height: 58px;
      left: -15px;
      bottom: -44px;
      z-index: 1;
      @include pad {
        left: 15px;
        bottom: -54px;
      }
      @include pad {
        left: 15px;
        bottom: -54px;
      }
    }
  }

  .text {
    font-size: 16px;
    line-height: 180%;
  }

  .paragraph {
    margin: 32.5px auto;

    .cactus {
      margin: 3px;
    }
  }
}

.content {
  background-color: #e2d9d3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 32px;

  .form {
    @include text-style;
    font-size: 18px;
    letter-spacing: 0.4em;
    text-indent: 0.2em;

    padding: 10px 20px;
    margin: auto;

    width: 79px;
    height: 19px;
    position: relative;
    top: 19px;
    right: 20px;

    color: $secondary-color;
    background-color: white;
    border: 2px solid $secondary-color;
    box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
    border-radius: 50px;
  }
  .turtle {
    position: absolute;
    width: 64px;
    height: 62px;
    right: -44px;
    top: -10px;
  }
  .form-list {
    padding: 40px 20px;
    margin: 0 24px;

    max-width: 366px;

    color: $primary-color;
    background-color: white;
    border: 2px solid $secondary-color;
    box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
    border-radius: 16px;

    @include pad {
      max-width: 676px;
    }

    @include desktop {
      max-width: 764px;

      margin: 0 296px;
    }

    .form-control {
      position: relative;
      .asterisk {
        display: inline-block;
        margin-left: 4px;
        height: 22px;

        color: $secondary-color;
      }
      .form-input {
        width: 310px;
        height: 55px;

        color: black;
        background-color: white;
        border: 1px solid $primary-color;
        border-radius: 20px;
        padding-left: 16px;
        margin: 2px 20px 20px 0;

        @include pad {
          width: 662px;
        }

        @include desktop {
          width: 750px;
        }
      }
      .no-result {
        color: #e06d6d;
        font-size: 12px;
        display: inline;
        margin-left: 10px;
      }
      .error {
        color: #e06d6d;
        font-size: 12px;

        position: absolute;
        top: 90px;
      }
    }
  }

  #store {
    background: url('/src/assets/icon/dropdown.svg') no-repeat;
    background-position: 97% 50%;
  }
  #payment {
    width: 326px;
    height: 57px;

    @include pad {
      width: 680px;
    }

    @include desktop {
      width: 768px;
    }
  }

  .submit {
    letter-spacing: 0.2em;
    margin: 40px 26%;
    box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35),
      0px -4px 10px rgba(255, 255, 255, 0.9);

    @include pad {
      margin: 40px 37%;
    }

    @include desktop {
      margin: 40px 43%;
    }
  }

  #success {
    letter-spacing: 0.2em;
    text-indent: 1em;
    color: #e6ffb1;

    .icon {
      position: relative;
      right: 10px;
      top: 5px;
    }
  }

  #failure {
    letter-spacing: 0.2em;
    text-indent: 1em;
    color: #ffe3e3;

    .icon {
      position: relative;
      right: 10px;
      top: 5px;
    }
  }

  // .submit:active {
  //   background-color: #d3a995;
  //   pointer-events: none;
  // }

  .sand {
    width: 100%;

    padding-top: 40px;
    margin-bottom: 40px;

    background-image: url('/src/assets/icon/sand.svg');
    background-position: center;

    .cards {
      text-align: center;
      display: flex;
      align-content: flex-start;
      flex-flow: row wrap;
      width: 414px;
      margin: 18px auto 0 auto;

      @include pad {
        width: 598px;
        margin: 18px auto 0 auto;
      }

      .card {
        position: relative;
        width: 178px;
        height: 112px;
        margin: 0 0 41px 16px;

        background-color: white;
        box-shadow: 0px 8px 0px #edeef0;
        border-radius: 20px;

        .prize-name {
          position: absolute;
          width: 11px;
          height: 21px;
          left: 83px;
          top: -5px;

          color: white;
          z-index: 1;
        }

        .certificateA,
        .certificateD {
          position: absolute;
          left: 31.46%;
          right: 31.83%;
          top: -25%;
          bottom: 46.21%;
          z-index: 0;
        }

        .quantity {
          padding: 3px 10px;

          position: absolute;
          width: 25px;
          height: 17px;
          left: 125px;
          top: 18px;

          font-size: 12px;
          line-height: 140%;

          background: #fafafa;
          border: 1px solid;
          border-radius: 50px;
        }
        .prize {
          position: absolute;
          left: 0%;
          right: 0%;
          top: 53.7%;
          bottom: 5.56%;

          line-height: 125%;
        }
      }

      .first-prize {
        color: #b3b960;
      }

      .normal-prize {
        color: #a0bcc8;
      }

      .prize {
        font-size: 18px;
        font-weight: 700;
      }
    }
  }

  .motto {
    text-align: center;
    color: $primary-color;
    position: relative;
    font-size: 20px;
    line-height: 140%;
    margin: 0;

    .vector-left {
      position: absolute;
      width: 20px;
      height: 75px;
      left: -30px;
      top: 32px;

      background: linear-gradient(
        to top right,
        #e2d9d3 calc(50% - 1px),
        $primary-color,
        #e2d9d3 calc(50% + 1px)
      );
    }

    .vector-right {
      position: absolute;
      width: 20px;
      height: 75px;
      right: -30px;
      top: 32px;

      background: linear-gradient(
        to top left,
        #e2d9d3 calc(50% - 1px),
        $primary-color,
        #e2d9d3 calc(50% + 1px)
      );
    }

    .number {
      color: $secondary-color;
    }
  }
  .lighthouse {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}

.shop {
  background-color: $primary-color;
  padding-bottom: 40px;
  width: 100%;

  border-radius: 50px 50px 0px 0px;

  .topic {
    @include text-style;
    margin: 0;

    color: white;

    .bottom {
      font-size: 20px;
      line-height: 200%;
      padding-top: 40px;
      padding-bottom: 24px;
      margin: 0;
    }
  }
}
