$primary-color: #204379;
$secondary-color: #b57556;

@mixin text-style {
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 0.2em;
  text-align: center;
}

@mixin desktop {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 414px) {
    @content;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

input,
input::placeholder {
  padding: 0 0 0 16px;

  font-size: 16px;
  color: #bdbdbd;
}

input:focus {
  border: 0;
  outline: 3px solid #93bbf9;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border: none;
  outline: 3px solid #e06d6d;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  appearance: textfield;
}

select {
  padding: 16px;

  font-size: 16px;

  appearance: none;

  background: url('/src/assets/icon/dropdown.svg') no-repeat;
  background-position: right;
}

#app {
  font-family: Noto Sans TC;
  font-style: normal;
  font-weight: 400;
}

.background {
  background-color: $primary-color;
  padding-bottom: 1px;

  .topic {
    @include text-style;
    margin: 0;

    color: white;

    .first {
      font-size: 32px;
      padding-top: 60px;
    }

    .second {
      font-size: 28px;
      margin-top: 4px;
      margin-bottom: 32px;
    }
  }
}

.waves {
  display: flex;
  margin-bottom: -1px;
  overflow: hidden;
}

.button {
  @include text-style;
  border: 0;
  padding: 0;
  margin: 0;
  color: white;

  box-shadow: 0px 0px 20px rgba(250, 163, 163, 0.91);
  width: 200px;
  height: 57px;
  background-color: $secondary-color;
  border-radius: 50px;
  font-size: 18px;
  line-height: 3;
  letter-spacing: 0.4em;
}

.paragraph-block {
  background-color: #d4e4f1;
  border: 2px solid $secondary-color;
  border-radius: 20px;
  margin: 32px 24px 44px 24px;
  color: $primary-color;
  @include desktop {
    margin: 32px 296px 44px 296px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
  }

  .text {
    font-size: 16px;
    line-height: 180%;
  }

  .paragraph {
    margin: 32.5px auto;
  }
}

.content {
  background-color: #e2d9d3;
  display: flex;
  flex-direction: column;
  align-items: center;

  #form {
    @include text-style;
    font-size: 18px;

    padding: 10px 20px;
    margin: auto;

    width: 83px;
    height: 23px;
    position: relative;
    top: 19px;
    right: 20px;

    color: $secondary-color;
    background-color: white;
    border: 2px solid $secondary-color;
    box-shadow: 0px 1px 10px rgba(73, 72, 72, 0.25);
    border-radius: 50px;
  }
  .form-list {
    padding: 40px 20px;
    margin: auto;

    width: 326px;
    height: 495px;

    color: $primary-color;
    background-color: white;
    border: 2px solid $secondary-color;
    box-shadow: 0px 1px 20px rgba(73, 72, 72, 0.25);
    border-radius: 16px;

    .asterisk {
      display: inline;

      color: $secondary-color;
    }
  }
  .form-input {
    width: 310px;
    height: 57px;

    color: black;
    background-color: white;
    border: 1px solid $primary-color;
    border-radius: 20px;
    margin-top: 4px;
    margin-bottom: 20px;
  }
  #payment {
    width: 326px;
  }

  .submit {
    margin: 40px 100px;
    box-shadow: 0px 4px 10px rgba(40, 35, 35, 0.35),
      0px -4px 10px rgba(255, 255, 255, 0.9);
  }

  .cards {
    text-align: center;
    display: flex;
    align-content: flex-start;
    flex-flow: row wrap;
    margin: 18px auto 40px auto;

    .card {
      position: relative;
      width: 178px;
      height: 112px;
      margin: 32px 41px;

      background-color: white;
      box-shadow: 0px 8px 0px #edeef0;
      border-radius: 20px;

      .prize-name {
        position: absolute;
        width: 11px;
        height: 21px;
        left: 83px;
        top: -5px;

        color: white;
        z-index: 1;
      }

      .certificateA,
      .certificateD {
        position: absolute;
        left: 31.46%;
        right: 31.83%;
        top: -25%;
        bottom: 46.21%;
        z-index: 0;
      }

      .quantity {
        padding: 3px 10px;

        position: absolute;
        width: 25px;
        height: 17px;
        left: 125px;
        top: 18px;

        font-size: 12px;
        line-height: 140%;

        background: #fafafa;
        border: 1px solid;
        border-radius: 50px;
      }
      .prize {
        position: absolute;
        left: 0%;
        right: 0%;
        top: 53.7%;
        bottom: 5.56%;

        line-height: 125%;
      }
    }

    .first-prize {
      color: #b3b960;
    }

    .normal-prize {
      color: #a0bcc8;
    }

    .prize {
      font-size: 18px;
      font-weight: 700;
    }
  }

  .motto {
    text-align: center;
    color: $primary-color;

    .number {
      color: $secondary-color;
    }
  }
  .lighthouse {
    margin-bottom: 40px;
  }
}

.shop {
  background-color: $primary-color;
  padding-bottom: 40px;
  width: 100%;

  border-radius: 50px 50px 0px 0px;

  .topic {
    @include text-style;
    margin: 0;

    color: white;

    .bottom {
      font-size: 20px;
      line-height: 200%;
      padding-top: 40px;
      padding-bottom: 24px;
      margin: 0;
    }
  }
}
